/* Asterisk wilcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */


/* Main */

/* Footer */
footer {
    background-color: #118525; 
}