/* Asterisk wilcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2 {
    color: white;
}

/* header */
header {
    background-color: #118525;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
}

#header-menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#header-menu > li {
    margin-bottom: 1rem;
}

.active {
    border-radius: 2px;
    border: 0.5px solid rgb(217, 253, 217);
}

/* dropdown toggle for the Nav */

nav {
    position: absolute;
    background-color: #118525;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
}
/* Main */
main    {
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Banner section */ /*not working*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-banner.png") no-repeat center center/cover;
}

/* About Section */
#about {
    text-align: center;
}

/* About Fans & Rovers Section */
.information {
    margin: 20px;
}

/* About Rovers Section */


/* Gallery */
#photos img{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #118525;
    padding: 5px 5px;
    line-height: 1em;
}

/* Contact Us Section */
#contact-details {
    text-align: center;
}
.details {
    margin: 20px;
    border: 1px solid #118525;
    border-radius: 2px;
    background-color: rgba(17, 133, 37, 0.2);
}
.email {
    margin: 20px;
    border: 1px solid #118525;
    border-radius: 2px;
    background-color: rgba(17, 133, 37, 0.2);
}
.email > ul {
    font-size: small;
    
}
h3 {
    margin: 5px;
}

.text-input {
    width: 80%;
    margin: 5px 0 5px 0;
    height: 25px;
}

/* Footer */
footer {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #118525;
    position: fixed;
    text-align: center;
    bottom: 0;
}
section {
    display: inline;
}

#header-footer {
    list-style-type: none;
    letter-spacing: 2px;
}

#header-footer > li{
    display: inline;
}


/* Media Query: Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }
    #header-menu {
        display: flex;
    }
    #header-menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #header-menu a:hover{
        border-radius: 2px;
        border: 0.5px solid rgb(217, 253, 217);
    }

    header-footer {
    padding: 1rem 1rem;
    position: fixed;
    text-align: left;
  } 
  
  /* Contact Us */
    #contact-details {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    .email {
        flex: 1;
    }

    .details {
        padding-left: 10px;
        width: 30%;
    }

    .details > ul {
        text-align: left;
    }

 /* Gallery */

 #photos {
    column-count: 2;
 }
  /* Media Query: Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  } 
  
  /* Media Query: Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }